.people {
  background-size: cover;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  min-width: 320px;
  background: #4b3b4e url("../img/header/testmonials-bg.png") no-repeat top;
  border-bottom: 2px solid #645765;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__heading {
    font-size: 46px;
    margin: 80px 0 20px;
    color: #fff;
    flex-basis: 100%;
  }

  &__companies {
    flex-basis: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__companies:nth-child(7) {
    padding-bottom: 45px;
  }

  &__companies-img {
    width: max-content;
  }

  &__companies-text {
    color: $white;
    font-size: 16px;
    padding-top: 25px;
    line-height: 30px;
    font-style: italic;
  }

  &__footer {
    flex-basis: 100%;
    text-align: center;
    display: none;
    margin-top: 50px;
    padding-bottom: 20px;
    position: relative;
  }

  &__footer::after {
    content: "";
    width: 80%;
    height: 2px;
    background-color: #645765;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__footer-text {
    font-size: 14px;
    color: #938396;
  }
}

@media (min-width: 481px) {

  .people {
    border-bottom: unset;

    &__container {
      justify-content: space-between;
    }

    &__companies {
      flex-basis: 45%;
      padding-top: 80px;
    }

    &__companies:nth-child(3) {
      padding-top: 65px;
    }

    &__companies:nth-child(4) {
      padding-top: 35px;
    }

    &__companies:nth-child(7) {
      padding-bottom: 0;
    }

    &__heading {
      margin: 80px 0 0;
    }

    &__companies-text {
      font-size: 16px;
    }

    &__companies-text:nth-child(3) {
      padding-top: 35px;
    }

    &__footer {
      display: block;
      padding-right: 30px;
      padding-left: 30px;
    }

    &__footer::after {
      width: 95%;
    }
  }
}

  @media (min-width: 993px) {
    .people {

      &__companies:nth-child(7) {
        padding-bottom: 0;
      }

      &__companies {
        flex-basis: 29%;
        padding-top: 80px;
      }

      &__footer {
        margin: 50px 150px 0 150px;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
